<h1>Every Bet</h1>

<p> Instructions </p>
<ul >
   <li>Feel free to take the otherside of your friend's bet
</li>
 <li> All bets are final</li>      
<li> If the game has not started, you may "theoretically " cancel your bet by taking the other side of your own bet but it will count in both your win and loss column</li>   
<li> The creator of the bet is in charge of inputting the results: <br>1- If the creator of the bet won the bet, please click Yes <br>
2- If that person loses, click No <br> 3- If it is a tie, click Push and the bet will be eliminated</li>   
<li> If no one takes your bet, you should still record the result as it will count against your record </li>  



<hr>

<table border="1">
  <tr>
    <th>Bettor</th>
    <th>Team Picked</th>
    <th>Opponent</th>
    <th>Spread</th>
    <th>Date of Game</th>
    <th></th>
    <th>Did the Bet Creator win?</th>
    
  </tr>

  <% @list_of_wagers.each do |bet| %>
  <tr>
    <td>
      <%=bet.bettor.username %>
    </td>

    <td>
      <%=bet.selected_team %>
    </td>

    <td>
      <%=bet.opponent %>
    </td>

    <td>
      <%=bet.spread %>
    </td>
    <td>
      <%=bet.date_of_game %>
    </td>

    <td>
 <form action="/modify_wager/<%=bet.id%>">  
      </a><input id="browser_input" type="hidden" type="integer" name="id_wager" value =  "<%=bet.id%>">
      <button type = "submit"> Take the other side </button>
      </form>
        
    </td>
    <td>
 <form action="/result_wager/<%=bet.id%>">  
      </a><input id="browser_input" type="hidden" type="integer" name="winner" value =  "<%=bet.bettor.id%>">
      <button type = "submit"> Yes </button>
      </form>
        <form action="/result_wager/<%=bet.id%>">  
      </a><input id="browser_input" type="hidden" type="integer" name="winner" value =  Lost">
      <button type = "submit"> No </button>
      </form>
       <form action="/result_wager/<%=bet.id%>">  
      </a><input id="browser_input" type="hidden" type="integer" name="winner" value =  "Push">
      <button type = "submit"> Push</button>
      </form>
    </td>
  </tr>
  
  <% end %>
</table>
<hr>
<h2>Bets Taken<h2>

<table border="1">
  <tr>
    <th>Bettor</th>
    <th>Team Picked</th>
    <th>Opponent</th>
    <th>Spread</th>
    <th>Date of Game</th>
    <th>Who took the Otherside of the Bet</th>
    <th>Who won the bet?</th>
    
  </tr>

  <% @taken_bets_list.each do |bet| %>
  <tr>
    <td>
      <%=bet.bettor.username %>
    </td>

    <td>
      <%=bet.selected_team %>
    </td>

    <td>
      <%=bet.opponent %>
    </td>

    <td>
      <%=bet.spread %>
    </td>
      <td>
      <%=bet.date_of_game %>
    </td>


    <td>
  <%=bet.taker.username %>
        
    </td>
    <td>
    <form action="/result_wager/<%=bet.id%>">  
      </a><input id="browser_input" type="hidden" type="integer" name="winner" value =  "<%=bet.bettor.id%>">
      <button type = "submit"> <%=bet.bettor.username %> </button>
      </form>
        <form action="/result_wager/<%=bet.id%>">  
      </a><input id="browser_input" type="hidden" type="integer" name="winner" value =  "<%=bet.taker.id %>">
      <button type = "submit"> <%=bet.taker.username %></button>
      </form>
       <form action="/result_wager/<%=bet.id%>">  
      </a><input id="browser_input" type="hidden" type="integer" name="winner" value =  "Push">
      <button type = "submit"> Push</button>
      </form>
    </td>
  </tr>
  
  <% end %>
</table>

