<h1>Past Bets </h1>
<p> Only the bet creator can undo a result</p>
<hr>


<table border="1">
  <tr>
    <th>Bettor</th>
    <th>Team Picked</th>
    <th>Opponent</th>
    <th>Spread</th>
    <th>Date of Game</th>
    <th>Who took the Otherside of the Bet</th>
    <th>Who won the bet?</th>
    <th>Was the result incorrect?</th>
  </tr>

  <% @finished_bets_list.each do |bet| %>
  <tr>
    <td>
      <%=bet.bettor.username %>
    </td>

    <td>
      <%=bet.selected_team %>
    </td>

    <td>
      <%=bet.opponent %>
    </td>

    <td>
      <%=bet.spread %>
    </td>

     <td>
      <%=bet.date_of_game %>
    </td>

    <td>
    <% if bet.taker != nil %>
  <%=bet.taker.username %>
  <%else%>
  <%end%>
     
    </td>
    <td>
    <% if bet.bet_winner != nil %>
  <%=bet.bet_winner.username %>
    <%else%>
    <p> The bookie (<%=bet.bettor.username %> lost)</p>
  <%end%>
     
    </td>
    <td>
    <% if @current_user.id == bet.bettor.id %>
 <form action="/update_wager/<%=bet.id%>">  
      </a><input id="browser_input" type="hidden" type="integer" name="winner" value =  "<%=bet.bettor.id%>">
      <button type = "submit"> Undo Result & Reinstate </button>
      </form>
      <%else%>
  <%end%>
 <%end%>
  </tr>
   </table>
