<div>
  <div>
    <h1>
      Wager #<%= @the_wager.id %> details
    </h1>

    <div>
      <div>
        <a href="/wagers">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_wager/<%= @the_wager.id %>">
          Delete wager
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Selected team
      </dt>
      <dd>
        <%= @the_wager.selected_team %>
      </dd>

      <dt>
        Opponent
      </dt>
      <dd>
        <%= @the_wager.opponent %>
      </dd>

      <dt>
        Spread
      </dt>
      <dd>
        <%= @the_wager.spread %>
      </dd>

      <dt>
        Bet user
      </dt>
      <dd>
        <%= @the_wager.bet_user_id %>
      </dd>

      <dt>
        Taker of bet
      </dt>
      <dd>
        <%= @the_wager.taker_of_bet_id %>
      </dd>

      <dt>
        Result
      </dt>
      <dd>
        <%= @the_wager.result %>
      </dd>

      <dt>
        Game
      </dt>
      <dd>
        <%= @the_wager.game_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_wager.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_wager.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit wager
    </h2>

    <form action="/modify_wager/<%= @the_wager.id %>"  method="post" >
      <div>
        <label for="selected_team_box">
          Selected team
        </label>

        <input type="text" id="selected_team_box" name="query_selected_team" value="<%= @the_wager.selected_team %>">
      </div>

      <div>
        <label for="opponent_box">
          Opponent
        </label>

        <input type="text" id="opponent_box" name="query_opponent" value="<%= @the_wager.opponent %>">
      </div>

      <div>
        <label for="spread_box">
          Spread
        </label>

        <input type="text" id="spread_box" name="query_spread" value="<%= @the_wager.spread %>">
      </div>

      <div>
        <label for="bet_user_id_box">
          Bet user
        </label>

        <input type="text" id="bet_user_id_box" name="query_bet_user_id" value="<%= @the_wager.bet_user_id %>">
      </div>

      <div>
        <label for="taker_of_bet_id_box">
          Taker of bet
        </label>

        <input type="text" id="taker_of_bet_id_box" name="query_taker_of_bet_id" value="<%= @the_wager.taker_of_bet_id %>">
      </div>

      <div>
        <label for="result_box">
          Result
        </label>

        <input type="text" id="result_box" name="query_result" value="<%= @the_wager.result %>">
      </div>

      <div>
        <label for="game_id_box">
          Game
        </label>

        <input type="text" id="game_id_box" name="query_game_id" value="<%= @the_wager.game_id %>">
      </div>

      <button>
        Update wager
      </button>
    </form>
  </div>
</div>

<hr>
