<h1> Here are the Standings </h1>
<h3>Ranked by the number of wins because every good gambler knows: The wins are the only bets that really count</h3>
 <table border="1">
      <tr>
      <th>
          Ranking
        </th>
        <th>
       
          Username
        </th>

        <th>
          Wins
        </th>

        <th>
          Losses
        </th>

        <th>
          Win Percentage
        </th>

       

      </tr>
      <% place =  0 %>
<% @list_of_Users.each do |user| %>
 
  <tr>
  <td>
      <%= place = place + 1%>
    </td>

    <td>
    <a href="/users/<%= user.id %>">
            <%= user.username %>
          </a>
    </td>

    <td>
      <%= user.win_record %>
    </td>

    <td>
      <%= user.loss_record %>
    </td>
       <td>
       <%= user.win_pert%>
    </td>
  </tr>
  
  <% end %>
</table>
      
   


<hr>