<div>
  <div>
    <h1>
      User <%= @the_user.username %> Record
    </h1>

    <div>
      <div>
        <a href="/standings">
          Go back
        </a>
      </div>

      
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_user.username %>
      </dd>

      <dt>
        Wins
      </dt>
      <dd>
        <%= @the_user.win_record %>
      </dd>

      <dt>
        Losses
      </dt>
      <dd>
        <%= @the_user.loss_record %>
      </dd>

      <dt>
        Created Profile
      </dt>
      <dd>
        <%= time_ago_in_words(@the_user.created_at) %> ago
      </dd>

      
    </dl>
  </div>
<h2>Bets Created:<h2>
  <table border="1">
  <tr>
    
    <th>Team Picked</th>
    <th>Opponent</th>
    <th>Spread</th>
    <th>Date of Game</th>
    <th>Won</th>
    
    
  </tr>

  <% @matching_bets.each do |bet| %>
  <tr>
    
    <td>
      <%=bet.selected_team %>
    </td>

    <td>
      <%=bet.opponent %>
    </td>

    <td>
      <%=bet.spread %>
    </td>
    <td>
      <%=bet.date_of_game %>
    </td>

    <td>
      <% if bet.result == nil %>
      <%= "In Progress"%> 
    <% elsif bet.result == "Lost" %>
       <%= "No"%> 
       <% elsif bet.result.to_i == bet.bettor.id %>
       <%= "Yes"%> 
    <% else%>  
    <%= "No" %> 
     <% end %>
    </td>
    
 
  
  <% end %>
</table>

<h2>Bets Taken:<h2>
  <table border="1">
  <tr>
    
    <th><%= @the_user.username %>'s Team</th>
    <th>Other Team</th>
    <th>Spread</th>
    <th>Won</th>
    
    
  </tr>

  <% @matching_taken.each do |bet| %>
  <tr>
    
    <td>
      <%=bet.opponent %>
    </td>

    <td>
      <%=bet.selected_team %>
    </td>

    <td>
      <%=bet.spread %>
    </td>

    <td>
    <% if bet.result == nil %>
      <%= "In Progress"%> 
       <% elsif bet.result.to_i == bet.bettor.id %>
       <%= "No"%> 
    <% else%>  
    <%= "Yes" %> 
     <% end %>



    </td>
   
 
  
  <% end %>
</table>